<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello, my friends</title>
</head>
<body>
    <header>
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/api/users">Users</a></li>
            <li><a href="#">Это часть меню3</a></li>
            <li><a href="#">Это часть меню4</a></li>
            <li><a href="#">Это часть меню5</a></li>
        </ul>
        <h1>Это мой первый заголовок</h1>
    </header>
    <main>
        <h2>Форма</h2>
        <form method="POST" action="/" >
            <input type="text" name="name" placeholder="Имя">
            <button type="submit">Отправить</button>
        </form>
    </main>
<footer>
    <p>Это мой первый footer</p>
</footer>
</body>
</html>